@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;

  --primary-color-400: #2ecc71;
  --primary-color-500: #29bd67;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-color-400);
}

a:hover {
  text-decoration: underline;
}

.tagline {
  color:#c2c2c2;
}

.small {
  font-size: 80%;
  text-align: center;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
  padding: 2rem;
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)), url('../public/signup-bg2.jpg');
  background-size: cover;
  background-position: center;
}

.left .copy {
  color: white;
  text-align: center;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smooting: grayscale;
}

.left p {
  font-weight: 400;
}

.right { padding: 1rem; }

.right .copy {
  color: black;
  text-align: center;
}

.right .copy p {
  margin: 1.5rem 0;
  font-size: 0.875rem;
}

.right .copy .tagline {
  margin-top: -1rem;
}

.right form {
  width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

label {
  display: block;
  margin-bottom: .75rem;
}

.signin-btn, .signup-btn {
  display: block;
  width: 100%;
  background-color: var(--primary-color-400);
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 2.4rem;
}

.signin-btn, .signup-btn:hover {
  background-color: var(--primary-color-500);
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left, .right {
    display: flex;
    width: 50%; 
    height: auto;
  }
}

